//- index.pug
extends templates/main.pug

block content
  #error-page.columns
    img(src="/images/error.svg" alt="Domenico Barile Error Page")
    if locals.status
      h1.error-title= status
    else
      h1.error-title We got some error here!

    if locals.message
      p.error-description= message
    else
      p.error-description The resource your are searching may not exist, or you are requesting it in a bad way!
