doctype html
html(lang='en')
  head
    meta(charset='UTF-8')
    meta(name='viewport', content='width=device-width, initial-scale=1, maximum-scale=1.0, user-scalable=no')
    title Admin Dashboard
    link(rel='stylesheet', href='/css/loaders.css')
  body.app-loading.skin-blue.sidebar-mini
    #loader-wrapper
      .loader

    block content

    script(src='/assets/admin.vendors.bundle.js')
    script(src='/assets/admin.bundle.js')
